
.pageTitleContainer {
  text-align: center;
  padding-top: 120px;
  
}

.pageTitle {
  font-size: 42px;
  font-weight: 700;
}

.pageSubTitle {
  margin-top: 10px;
  font-size: 18px;
  color: #666;
}


.productsContainer {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr));
  gap: 25px;
}


.productCard {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s;
}

.productCard:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.productImg {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 12px;
}

.productName {
  margin: 15px 0 5px;
  font-size: 20px;
  font-weight: 600;
}

.productSpecs {
  font-size: 14px;
  color: #777;
}

.productPrice {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}

.productBtn {
  margin-top: 12px;
  width: 100%;
}
