body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.chatbot {
    position: fixed;
    bottom: 20px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
}
.chatbot img
{
    width: 100px;
    height: 100px;
    object-fit: cover;
 border-radius: 50%;
}
.chatbot:hover {
    transform: scale(1.1);
    transition: .3s;
}
/* Sidebar */
.chatbot-sidebar {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100%;
  background: #1e1e1e;
  color: #fff;
  box-shadow: -4px 0 10px rgba(0,0,0,0.4);
  transition: right 0.3s ease;
  z-index: 2000;
  display: flex;
  flex-direction: column;
}

.chatbot-sidebar.active {
  right: 0;
}

/* Header */
.chatbot-header {
  padding: 15px;
  background: #ff4d00;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#closeChatbot {
  font-size: 24px;
  cursor: pointer;
}

/* Body */
.chatbot-body {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

/* Footer */
.chatbot-footer {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.chatbot-footer input {
  flex: 1;
  padding: 8px;
}

.chatbot-footer button {
  padding: 8px 12px;
  background: #ff4d00;
  border: none;
  color: white;
  cursor: pointer;
}
.headerContainer {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
}

.header {
    height: 100px;
    background-color: #1656a4;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}


.headerLinks {
    width: 50%;
}

.headerLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 10px;
    margin-right: 10px;
}

#image_logo{
    padding-top: 15px;
}

.headerLinks a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    transition: .3s;
}

.headerLinks a:hover {
    background-color: #0171F9;
}

.logo img {
    width: 150px;
}
.sign_in{
  align-self: center;

    color: #ffffff;
    border: none;
    border-radius: 25px;
    width: 100px;
    height: 52px;
    font-weight: 600;
    text-transform: uppercase;
    align-self: center;
}

.sign_in:hover{
    background-color: #9E4147;
    cursor: pointer;
}


.landingPageContainer {
    background-color: #0171F9;
    border-radius: 0 0 100px 100px;
    background-image: url(images/showroom1.jpg);
    background-size: cover;
}
.landingPage {
    display: flex;
    color: #ffffff;
    padding: 100px 0;
    max-width: 1300px;
    margin: auto;
}

.landingPage .slogan {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
}

.landingPage .welcome {
    color: #ffffff;
    font-size: x-large;
    height: 10px;
    
}

.landingPage .description {
    color: rgb(255, 255, 255);
    width: 80%;
    font-weight: 500;
    
}

.searchBar {
    position: relative;
    margin-top: 100px;
}

.searchBar input {
    border-radius: 50px;
    border: none;
    outline: none;
    width: 40%;
    height: 50px;
    font-size: large;
    padding-left: 20px;
}

.searchBar input::placeholder {
    font-size:medium;
}

.btn {
    border-radius: 50px;
    height: 52px;
    border: none;
    font-weight:600;
    font-size: medium;
    padding: 0 20px;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    transition: .3s;
}

.btn:hover {
    background-color: #9E4147;
    cursor: pointer;
}

.searchBar .searchBtn {
    position: absolute;
    left: 300px;
}

.leftSide {
    padding-top: 30px;
    flex: 8;
}

.imageContainer {
    flex: 4;
}

.imageContainer img {
    width: 100%;
    border-radius: 20px;
}



.trendingContainer {
    margin: auto;
    max-width: 1300px;
    margin-top: 100px;
}

.trendingHeader, .mostHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding-bottom: 40px;
    
}

.trendingHeader h1, .mostHeader h1, .categoryHeader h1 {
    margin-top: 0;
}

.trendingContainer span, .mostContainer span, .categoryHeader span {
    text-transform: uppercase;
    color: #EE626B;
    font-weight: 600;
}

.trendingCard, .mostCards, .categoryCards{
    display: flex;
    justify-content: space-between;
}

.trendingCard .card {
    position: relative;
}


.trendingCard .card img {
    border-radius: 20px;
}

.trendingCard .card .cardInfo {
    position: absolute;
    top: 200px;
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 0 0 20px 20px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trendingCard .card .cardName {
    padding: 0 20px;
}

.trendingCard .cardName h3 {
    margin-top: 0;
}

.trendingCard .cardName p {
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}


.trendingCard .cardInfo .icon img {
    width: 50px;
    transition: .3s;
}

.trendingCard .cardInfo .icon {
    margin-right: 20px;
}

.trendingCard .cardInfo img:hover{
    transform: scale(1.3);
}

/* END TRENDING GAMES */

/* MOST PLAYED  */
.cardImg img {
    border-radius: 20px;
}

.mostCards .cardInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .mostCards .card .cardImg{
    width: 100%;
    height: 180px;
    object-fit: contain;
    border-radius: 12px;
} */
.mostCards .cardInfo .genre {
    margin-bottom: 0;
    font-size: large;
    color: rgb(75, 74, 74);
}

.mostContainer {
    background-color: #476daa;
    margin-top: 100px;
    padding: 50px;
    border-radius: 100px;
}

.mostContainer .mostPlayed, .category {
    max-width: 1300px;
    margin: auto;
}



.categoryContainer {
    margin-top: 150px;
}

.category .categoryHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category .card .cardImg{
    position: relative;
    top: -20px;
}

.category .card .genre {
    background-color: #1656a4;
    text-align: center;
    color: #fff;
    padding: 15px;
    font-size: large;
    font-weight: 500;
    border-radius: 20px;
}

.category .categoryCards {
    margin-top: 30px;
}
.card {
    transition: .3s;
}

.category .card:hover {
    transform: scale(1.05);
    cursor: pointer;
}



.footerContainer {
    background-color: #1656a4;
    height: 150px;
    border-radius: 100px 100px 0 0;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.footer {
    max-width: 1300px;
    margin: auto;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: larger;
}


.formContainer {
    display: flex;
    padding: 40px;
    margin: auto;
    justify-content: center;
    max-width: 1300px;
}

.formContainer form {
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 400px;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    height: 450px;
}

.formContainer form input, textarea {
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: large;
}

.formContainer input {
    height: 50px;
    border-radius: 50px;
}

.formContainer textarea {
    border-radius: 20px;
    padding-top: 10px;
    resize: none;
}

.category .card {
    width: 230px;
    background: #ffffff;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    transition: .3s;
}

.category .card:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.cardImg img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.category .card .genre {
    background-color: #1656a4;
    text-align: center;
    color: #fff;
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    margin-top: 15px;
}
.userBox {
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

#welcome {
    margin: 0;
}

#logout {
    font-size: 14px;
    color: red;
    cursor: pointer;
    text-decoration: none;
}

#logout:hover {
    text-decoration: underline;
    background: none;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
#container h2 {
    margin-bottom: 20px;
}
#container input {
    margin: 10px 0;
    padding: 12px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form button {
    margin-top: 20px;
    width: 150px;
    background-color: #ff4d00;
}

form button:hover {
    background-color: #e04300;
    cursor: pointer;
}